* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

nav {
    border: 1px solid;
    width: 100%;
    height: auto;
    background-color: black;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: white;
}

.menu li {
    font-size: 16px;
    padding: 15px 15px;
}

.toggle {
    order: 1;
}

.item.button {
    order: 2;
}
.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}
.item.active {
    display: block;
}

.item-button-secondary {
    border-bottom: 1px solid #444;
}

/* Mobile menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.bars {
    background-color: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 18px;
}
.bars::before,
.bars::after {
    background-color: #999;
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 18px;
    content: "";
}
.bars::before {
    top: 5px;
}
.bars::after {
    bottom: 5px;
}

/* Tablet Menu */
@media all and (min-width: 488px) {
    .menu {
        justify-content: center;
    }
    .logo {
        flex: 1;
    }

    .menu .item.button {
        width: auto;
        order: 1;
        display: block;
    }
    .toggle {
        order: 2;
    }
    .button.secondary {
        border: 0;
    }
    .button a {
        padding: 7px 15px;
        background-color: teal;
        border: 1px solid#006d6d;
        border-radius: 50em;
    }
    .button.secondary a {
        background: transparent;
    }
    .button a:hover {
        transition: all 0.25s;
    }
    .button:not(.secondary) a:hover {
        background: #006d6d;
        border-color: red;
    }
    .button.secondary a:hover {
        color: #ddd;
    }
}

/* Desktop View */
@media all and (min-width: 768px) {
    .item {
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
    }
    .button {
        order: 2;
    }
    .menu li {
        padding: 15px 10px;
    }
    .menu li.button {
        padding-right: 0;
    }
}
